<ul class="nav nav-sidebar">
  <li class="sidebar-menu-item">
    <a href="/admin/trackers" >
      <span class="icon icon-wrench"></span><span class="text"> Analytics</span>
    </a>
    <ul data-hook="admin_configurations_sidebar_menu" class="nav nav-pills nav-stacked collapse" id="sidebar-configuration" aria-expanded="false" style="height: 1px;">
    </ul>
  </li>
</ul>
